<div style="text-align: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Droid sans', 'Lucida Grande', sans-serif">

    <img src="/modules/custom/atsnj_ebp/images/cert-logo.jpg" />
    <p style="font-weight: bold; margin-top: .5em;">
        This certificate is presented to</p>
    <p style="border-bottom: solid 1px black;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: .25em;">{{ name }}</p>
    <p style="font-weight: normal; font-size: .5em;">for attending the program</p>
    <p style="font-weight: bold; margin-top: .5em;">{{ session_title }}</p>
    <p style="font-weight: bold; margin-top: .5em;">Presented by <br>{{ presented_by }}</p>
    <p style="font-weight: normal; font-size: .5em;">at</p>
    <p style="font-weight: bold; margin-top: .5em;">{{ at }}</p>
    <p style="font-weight: bold; margin-top: .5em;">{{ date }}</p>
    <img src="/modules/custom/atsnj_ebp/images/seal.png" />
    <p style="font-weight: normal; font-size: .5em;">BOC Approved Provider Number: P323</p>
    <p style="font-weight: normal; font-size: .5em;">The ATSNJ is approved by the Board of Certification, Inc. to offer continuing education for Certified Athletic Trainers. This program is eligible for a maximum of 1.0 hours of Evidence Based Practice (EBP) Category continuing education.<br>Athletic Trainers should only claim those hours actually spent in the educational program.</p>
    <p style="font-weight: normal; font-size: 1em; margin-top: 2em; margin-bottom: 1em;">Number of Hours actually participated: _____________ </p>
    <p style="font-weight: normal; font-size: .5em;">Jessica Springstead EdD, ATC<br>President Elect & CEU Coordinator</p>
    <img src="/modules/custom/atsnj_ebp/images/sig.gif" />
</div>
